<h2 mat-dialog-title>{{ titulo }}</h2>

<form [formGroup]="form" (ngSubmit)="salvar()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Cargo</mat-label>
      <mat-select formControlName="cargo">
        @for (c of cargos; track c) {
          <mat-option [value]="c">{{ c }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        @for (s of status; track s) {
          <mat-option [value]="s">{{ s }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Salvar</button>
  </mat-dialog-actions>
</form>
